@font-face {
	font-family: "Avenir";
	src: url('../fonts/avenir/AvenirLTStd-Book.otf');
}
@font-face {
	font-family: "Avenir";
	font-weight: 200;
	src: url('../fonts/avenir/AvenirLTStd-Light.otf');
}
@font-face {
	font-family: "Avenir";
	font-weight: 600;
	src: url('../fonts/avenir/AvenirLTStd-Roman.otf');
}
@font-face {
	font-family: "Avenir";
	font-weight: 800;
	src: url('../fonts/avenir/aeh.ttf');
}

@font-face {
	font-family: "Georgia";
	src: url('../fonts/georgia/Georgia Regular font.ttf');
}
@font-face {
	font-family: "Georgia";
	font-style: italic;
	src: url('../fonts/georgia/georgia italic.ttf');
}
@font-face {
	font-family: "Georgia";
	font-weight: bold;
	src: url('../fonts/georgia/geogia bold.ttf');
}
@font-face {
	font-family: "Georgia";
	font-weight: bold;
  font-style: italic;
	src: url('../fonts/georgia/Georgia Bold Italic font.ttf');
}
