@mixin animations($name, $time, $step) {
  -webkit-animation: $name $time steps($step);
      -moz-animation: $name $time steps($step);
       -ms-animation: $name $time steps($step);
        -o-animation: $name $time steps($step);
           animation: $name $time steps($step);
}

@mixin borderRadius($value1,$value2,$value3,$value4){
  -moz-border-radius: $value1 $value2 $value3 $value4;
  -webkit-border-radius: $value1 $value2 $value3 $value4;
  -o-border-radius: $value1 $value2 $value3 $value4;
  border-radius: $value1 $value2 $value3 $value4;
}

@mixin playBackgroundPosition($name,$pos1,$pos2){
  @-webkit-keyframes #{$name} {
     from { background-position: $pos1; }
       to { background-position: $pos2; }
  }

  @-moz-keyframes #{$name} {
     from { background-position: $pos1; }
       to { background-position: $pos2; }
  }

  @-ms-keyframes #{$name} {
     from { background-position: $pos1; }
       to { background-position: $pos2; }
  }

  @-o-keyframes #{$name} {
     from { background-position: $pos1; }
       to { background-position: $pos2; }
  }

  @keyframes #{$name} {
     from { background-position: $pos1; }
       to { background-position: $pos2; }
  }
}

@mixin linearGradient($deg,$color1,$color2) {
 background-image: -o-linear-gradient($deg,$color1,$color2);
 background-image: -moz-linear-gradient($deg,$color1,$color2);
 background-image: -webkit-linear-gradient($deg,$color1,$color2);
 background-image: -ms-linear-gradient($deg,$color1,$color2);
 background-image: linear-gradient($deg,$color1,$color2);
 background-image: -webkit-gradient(linear, top, bottom, color-stop(0%,$color1), color-stop(100%,$color2));
}

@mixin filterGrayBright($gray,$bright){
  -webkit-filter: grayscale($gray) brightness($bright);
  -moz-filter: grayscale($gray) brightness($bright);
  -o-filter: grayscale($gray) brightness($bright);
  filter: grayscale($gray) brightness($bright);
}

@mixin transitionMixin($args...){
  -webkit-transition: $args;
  -moz-transition: $args;
  -o-transition: $args;
  transition: $args;
}
